In [1]:
#Dataset found at: https://www.kaggle.com/datasets/rafsunahmad/best-country-to-live-in-2024/data?select=best-countries-to-live-in-2024.csv
import pandas as pd

df = pd.read_csv('/Users/varkol/Desktop/EDA_Project/best-countries-to-live-in-2024.csv')

In [2]:
df.head()

,population_2024,population_growthRate,land_area,country,region,unMember,population_density,population_densityMi,share_borders,Hdi2021,Hdi2020,WorldHappiness2022
0,1441719852,0.00916,3287590,India,Asia,True,484.9067,1255.9084,"AFG, BGD, BTN, MMR, CHN, NPL, PAK, LKA",0.633,0.642,3.777
1,1425178782,-0.00035,9706961,China,Asia,True,151.2174,391.6530,"AFG, BTN, MMR, HKG, IND, KAZ, PRK, KGZ, LAO, M...",0.768,0.764,5.585
2,341814420,0.00535,9372610,United States,North America,True,37.3673,96.7813,"CAN, MEX",0.921,0.920,6.977
3,279798049,0.00816,1904569,Indonesia,Asia,True,149.0254,385.9758,"TLS, MYS, PNG",0.705,0.709,5.240
4,245209815,0.01964,881912,Pakistan,Asia,True,318.0908,823.8551,"AFG, CHN, IND, IRN",0.544,0.543,4.516

In [3]:
df.describe()

,population_2024,population_growthRate,land_area,population_density,population_densityMi,Hdi2021,Hdi2020,WorldHappiness2022
count,1.410000e+02,141.000000,1.410000e+02,141.000000,141.000000,141.000000,141.000000,141.000000
mean,5.422157e+07,0.009327,8.734306e+05,272.742080,706.401985,0.737199,0.737596,5.542582
std,1.749363e+08,0.012112,2.200180e+06,945.620017,2449.155844,0.153844,0.152319,1.105247
min,3.776890e+05,-0.030870,3.160000e+02,2.243100,5.809600,0.394000,0.397000,2.404000
25%,5.494963e+06,0.001180,6.455900e+04,37.367300,96.781300,0.607000,0.610000,4.744000
50%,1.171577e+07,0.008920,2.383910e+05,87.135400,225.680700,0.754000,0.756000,5.578000
75%,3.910705e+07,0.018230,6.522300e+05,170.267800,440.993500,0.875000,0.871000,6.293000
max,1.441720e+09,0.038090,1.709824e+07,8429.956800,21833.588200,0.962000,0.959000,7.821000

In [5]:
df_happiness_idx = df.sort_values(by = 'WorldHappiness2022', ascending=False)

In [6]:
df_happiness_idx = df_happiness_idx[["country", "region", "WorldHappiness2022"]]

In [9]:
len(df_happiness_idx)

141

In [11]:
df_happiness_idx.head(20)

            country         region  WorldHappiness2022
102         Finland         Europe               7.821
100         Denmark         Europe               7.636
140         Iceland         Europe               7.557
87      Switzerland         Europe               7.512
63      Netherlands         Europe               7.415
137      Luxembourg         Europe               7.404
74           Sweden         Europe               7.384
104          Norway         Europe               7.365
83           Israel           Asia               7.364
106     New Zealand        Oceania               7.200
86          Austria         Europe               7.163
50        Australia        Oceania               7.162
109         Ireland         Europe               7.041
16          Germany         Europe               7.034
35           Canada  North America               7.025
2     United States  North America               6.977
19   United Kingdom         Europe               6.943
75   Czech Republic         Europe               6.920
70          Belgium         Europe               6.805
20           France         Europe               6.687

In [24]:
#Exporting this data for further Data Analysis, for which we will be using SQL
df_happiness_idx.head(20).to_csv('20_Most_Happiest_countries.csv', index=False)

In [12]:
df_happiness_idx.tail(20)

          country  region  WorldHappiness2022
46     Madagascar  Africa               4.339
13          Egypt  Africa               4.288
59           Chad  Africa               4.251
9        Ethiopia  Africa               4.241
40          Yemen    Asia               4.197
110    Mauritania  Africa               4.153
72         Jordan    Asia               4.152
84           Togo  Africa               4.112
53      Sri Lanka    Asia               4.000
0           India    Asia               3.777
55         Zambia  Africa               3.760
54         Malawi  Africa               3.750
18       Tanzania  Africa               3.702
85   Sierra Leone  Africa               3.574
127       Lesotho  Africa               3.512
123      Botswana  Africa               3.471
66         Rwanda  Africa               3.268
65       Zimbabwe  Africa               2.995
108       Lebanon    Asia               2.955
33    Afghanistan    Asia               2.404

In [25]:
df_happiness_idx.tail(20).to_csv('20_Least_Happiest_countries.csv', index=False)

In [16]:
df_ppltn_growth_rate = df.sort_values(by = 'population_growthRate', ascending=False)

In [17]:
df_ppltn_growth_rate = df_ppltn_growth_rate[["population_growthRate","country", "region", "WorldHappiness2022"]]

In [18]:
len(df_ppltn_growth_rate)

141

In [19]:
df_ppltn_growth_rate.head(20)

     population_growthRate       country  region  WorldHappiness2022
49                 0.03809         Niger  Africa               5.003
37                 0.03247       Ukraine  Europe               5.084
59                 0.03111          Chad  Africa               4.251
51                 0.03100          Mali  Africa               4.479
18                 0.02938      Tanzania  Africa               3.702
41                 0.02835    Mozambique  Africa               5.048
27                 0.02762        Uganda  Africa               4.603
55                 0.02747        Zambia  Africa               3.760
110                0.02692    Mauritania  Africa               4.153
33                 0.02683   Afghanistan    Asia               2.404
67                 0.02678         Benin  Africa               4.623
48                 0.02608      Cameroon  Africa               5.048
54                 0.02600        Malawi  Africa               3.750
28                 0.02597         Sudan  Africa               4.362
62                 0.02581       Senegal  Africa               5.046
52                 0.02532  Burkina Faso  Africa               4.670
47                 0.02529   Ivory Coast  Africa               5.235
9                  0.02523      Ethiopia  Africa               4.241
119                0.02475        Gambia  Africa               5.164
46                 0.02410    Madagascar  Africa               4.339

In [21]:
df_ppltn_growth_rate.head(20).sort_values(by="WorldHappiness2022", ascending=False)

     population_growthRate       country  region  WorldHappiness2022
47                 0.02529   Ivory Coast  Africa               5.235
119                0.02475        Gambia  Africa               5.164
37                 0.03247       Ukraine  Europe               5.084
41                 0.02835    Mozambique  Africa               5.048
48                 0.02608      Cameroon  Africa               5.048
62                 0.02581       Senegal  Africa               5.046
49                 0.03809         Niger  Africa               5.003
52                 0.02532  Burkina Faso  Africa               4.670
67                 0.02678         Benin  Africa               4.623
27                 0.02762        Uganda  Africa               4.603
51                 0.03100          Mali  Africa               4.479
28                 0.02597         Sudan  Africa               4.362
46                 0.02410    Madagascar  Africa               4.339
59                 0.03111          Chad  Africa               4.251
9                  0.02523      Ethiopia  Africa               4.241
110                0.02692    Mauritania  Africa               4.153
55                 0.02747        Zambia  Africa               3.760
54                 0.02600        Malawi  Africa               3.750
18                 0.02938      Tanzania  Africa               3.702
33                 0.02683   Afghanistan    Asia               2.404

In [26]:
df_ppltn_growth_rate.head(20).sort_values(by="WorldHappiness2022", ascending=False).to_csv('20_Fastest_Growing_Countries.csv', index=False)

In [20]:
df_ppltn_growth_rate.tail(20)

     population_growthRate                 country  region  WorldHappiness2022
79                -0.00237                Portugal  Europe               6.016
132               -0.00282                 Estonia  Europe               6.341
114               -0.00291                 Georgia    Asia               4.973
22                -0.00294                   Italy  Europe               6.467
8                 -0.00337                  Russia  Europe               5.459
78                -0.00373                  Greece  Europe               5.948
82                -0.00455                 Belarus  Europe               5.821
118               -0.00513  Bosnia and Herzegovina  Europe               5.768
11                -0.00538                   Japan    Asia               6.039
113               -0.00549                 Croatia  Europe               6.125
91                -0.00728                  Serbia  Europe               6.178
124               -0.00940               Lithuania  Europe               6.446
95                -0.01033                Bulgaria  Europe               5.371
130               -0.01091                  Latvia  Europe               6.180
58                -0.01377                 Romania  Europe               6.477
80                -0.01588                 Hungary  Europe               6.086
101               -0.01594                Slovakia  Europe               6.391
34                -0.01961                  Poland  Europe               6.123
108               -0.02519                 Lebanon    Asia               2.955
117               -0.03087                 Moldova  Europe               5.857

In [22]:
df_ppltn_growth_rate.tail(20).sort_values(by="WorldHappiness2022", ascending=False)

     population_growthRate                 country  region  WorldHappiness2022
58                -0.01377                 Romania  Europe               6.477
22                -0.00294                   Italy  Europe               6.467
124               -0.00940               Lithuania  Europe               6.446
101               -0.01594                Slovakia  Europe               6.391
132               -0.00282                 Estonia  Europe               6.341
130               -0.01091                  Latvia  Europe               6.180
91                -0.00728                  Serbia  Europe               6.178
113               -0.00549                 Croatia  Europe               6.125
34                -0.01961                  Poland  Europe               6.123
80                -0.01588                 Hungary  Europe               6.086
11                -0.00538                   Japan    Asia               6.039
79                -0.00237                Portugal  Europe               6.016
78                -0.00373                  Greece  Europe               5.948
117               -0.03087                 Moldova  Europe               5.857
82                -0.00455                 Belarus  Europe               5.821
118               -0.00513  Bosnia and Herzegovina  Europe               5.768
8                 -0.00337                  Russia  Europe               5.459
95                -0.01033                Bulgaria  Europe               5.371
114               -0.00291                 Georgia    Asia               4.973
108               -0.02519                 Lebanon    Asia               2.955

In [27]:
df_ppltn_growth_rate.tail(20).sort_values(by="WorldHappiness2022", ascending=False).to_csv('20_Slowest_Growing_Countries.csv', index=False)

In [29]:
pip install plotly_express

Collecting plotly_express
  Downloading plotly_express-0.4.1-py2.py3-none-any.whl (2.9 kB)
Requirement already satisfied: pandas>=0.20.0 in /Users/varkol/anaconda3/lib/python3.11/site-packages (from plotly_express) (1.5.3)
Requirement already satisfied: plotly>=4.1.0 in /Users/varkol/anaconda3/lib/python3.11/site-packages (from plotly_express) (5.9.0)
Requirement already satisfied: statsmodels>=0.9.0 in /Users/varkol/anaconda3/lib/python3.11/site-packages (from plotly_express) (0.13.5)
Requirement already satisfied: scipy>=0.18 in /Users/varkol/anaconda3/lib/python3.11/site-packages (from plotly_express) (1.10.1)
Requirement already satisfied: patsy>=0.5 in /Users/varkol/anaconda3/lib/python3.11/site-packages (from plotly_express) (0.5.3)
Requirement already satisfied: numpy>=1.11 in /Users/varkol/anaconda3/lib/python3.11/site-packages (from plotly_express) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/varkol/anaconda3/lib/python3.11/site-packages (from pandas>=0.20.0->plotly_express) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/varkol/anaconda3/lib/python3.11/site-packages (from pandas>=0.20.0->plotly_express) (2022.7)
Requirement already satisfied: six in /Users/varkol/anaconda3/lib/python3.11/site-packages (from patsy>=0.5->plotly_express) (1.16.0)
Requirement already satisfied: tenacity>=6.2.0 in /Users/varkol/anaconda3/lib/python3.11/site-packages (from plotly>=4.1.0->plotly_express) (8.2.2)
Requirement already satisfied: packaging>=21.3 in /Users/varkol/anaconda3/lib/python3.11/site-packages (from statsmodels>=0.9.0->plotly_express) (23.0)
Installing collected packages: plotly_express
Successfully installed plotly_express-0.4.1
Note: you may need to restart the kernel to use updated packages.

In [30]:
import plotly_express as px
import matplotlib.pyplot as plt
import seaborn as sns